.courses-list {
  margin-top: 15px;
  margin-bottom: 30px;

  &__load-btn {
    background-color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #B2C2F3;
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px #EBECF1;
  }
}