.courses-section-actions {
  padding: 0;

  &__row {
    min-height: 110px;
  }

  &__search {
    margin-top: 25px;
  }

  &__search-input {
    width: 65%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border: 2px solid rgb(181, 181, 185);
  }

  &__add-course {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__add-course-btn {
    background-color: #30B6DD;
    border-color: #30B6DD;
    color: white;
  }
}